- content_for :title, t(".title")

.page-header
  %span.section-kicker= t(".kicker")
  %h1.h2.mb-3= t(".heading")
  - if t(".lead").present?
    %p.text-secondary.mb-0= t(".lead")

.row.g-4.mt-1
  .col-lg-4
    %section.content-band.h-100
      %h2.h6.text-uppercase.text-secondary.mb-3= t(".repository_heading")
      %p.mb-0= t(".repository_text")
  .col-lg-4
    %section.content-band.h-100
      %h2.h6.text-uppercase.text-secondary.mb-3= t(".course_heading")
      %p.mb-0= t(".course_text")
  .col-lg-4
    %section.content-band.h-100
      %h2.h6.text-uppercase.text-secondary.mb-3= t(".update_heading")
      %p.mb-0= t(".update_text")
