- content_for :title, t(".title")

.page-header
  %span.section-kicker= t(".kicker")
  %h1.h2.mb-3= t(".heading")
  - if t(".lead").present?
    %p.text-secondary.mb-0= t(".lead")

.row.g-4.mt-1
  .col-lg-6
    %section.content-band
      %h2.h5.mb-3= t(".ready_heading")
      %ul.stacked-list.mb-0
        - %i[layout partials bootstrap icons].each do |item|
          - text = t(".ready_items.#{item}")
          - if text.present?
            %li= text
  .col-lg-6
    %section.content-band
      %h2.h5.mb-3= t(".next_heading")
      %ul.stacked-list.mb-0
        - %i[data work auth locale].each do |item|
          - text = t(".next_items.#{item}")
          - if text.present?
            %li= text
